.App {
  font: 15px arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.number {
  height: 100%;
  font-size: large;
}

#selected {
  background-color: rgb(70, 110, 255);
  color: white;
  border-radius: 15%;
  width: 60%;
}
